spring:
  application:
    name: mdbd-api
  jackson:
    serialization:
      indent_output: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

app:
  upload:
    dir: uploads

server:
  port: 8080

